#footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 47px;
}

#footer a {
	width: 25%;
	height: 97px;
	margin: 0;
	background: #F35F25;
	text-decoration: none;
	text-align: center;
	color: #000000;
	font-size: 20px;
	float:right;
	padding-top: 13px;
}

#footer a.active {
    background:#600723 ;
    color:#ffffff;
}