#donationsPage .donations_list{
    width:100%;
    display:block;
    clear:both;
    overflow-x: hidden;
    overflow-y: auto;
}

#donationsPage .donations_list li {
    color: #600723;
    background: #FCD793;
    padding: 16px 4%;
    border-bottom: 1px solid #600723;
    background-position: 12px center;
    background-size: 17px;
    background-repeat: no-repeat;
    font-size: 18px;
}
